*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    width: 80%;
    margin: auto;
}

.container{
     width: 100%;     
}

header{
    height: 70px;
}

nav{
    height: 70px;
    line-height: 70px;
}

nav > ul{
    list-style: none;
}

nav.main_menu > ul > li{
    display: inline;
}

nav.main_menu > ul > li > a{
    text-decoration: none;
    color: lightgrey;
    
}

.top_part{
    height: 250px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(img/banner.jpg);
    background-size: 100%;  
    background-position: center;
    position: relative;
    
}

.titletext{
    color: white;
    padding: 25px;   
    width: 60%; 
    position: absolute;
    bottom: 5px;
    
    
}

.leadership{
    height: 70px;
    background-color: royalblue;
}


.sidebar_l, .sidebar_r{
    width: 25%;
    height: 400px;
    float: left;
    background-color: slateblue;
    margin: auto;
    padding: 15px;
}

.content{
    width: 50%;
    height: 500px;
    float: left;
    background-color: steelblue;
    
}


footer{
    height: 50px;
    background-color: lightblue;
}