*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    width: 80%;
    margin: auto;
}

.container{
     width: 100%;     
}

header{
    height: 70px;
}



/* nav menu*/

nav{
    height: 70px;
    line-height: 70px;
}

nav > ul{
    list-style: none;
}

nav.main_menu > ul > li{
    display: inline;
}

nav.main_menu > ul > li > a{
    text-decoration: none;
    color: lightgrey;
    
}



/* Yoga girl */
.top_part{
    height: 250px;
    border-radius: 10px;
    position: relative;
    background-image: url(img/banner.jpg);
    background-size: 100%;  
    background-position: center;
}

.dim{
    background-color: rgb(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.titletext{
    color: white;
    padding: 25px;   
    width: 60%; 
    position: absolute;
    bottom: 5px;
}




/* Leadership mess plus all titles and lorems*/
.title{
    margin-top: 20px;  
    margin-bottom: 5px;
}

.lorem{
    margin-bottom: 20px;
    margin-top: 5px;
    color: gray;
}

.grey{
    color: lightslategray;
}


/* both asides*/
.sidebar_l, .sidebar_r{
    width: 25%;
    height: 400px;
    float: left;
    margin: auto;
    padding: 15px;
    padding: 0;
}

.asideimg{
    height: 100px;
    border-radius: 10px;
    filter: brightness(80%);
    background-size: 100%;  
    background-position: center;
    margin-bottom: 10px;
}



/* girl with plant */
.leftimg{
    background-image: url(img/img-1.jpg);
}



/* Big lightbulb little people*/
.rightimg {
    background-image: url(img/img-3.jpg);
}


/* guy with coffee*/
.centerimg{
    background-image: url(img/banner-2.jpg);
}

.content{
    width: 50%;
    float: left;
    padding: 10px;
    padding-top: 0;
    
}



/* Footer */
footer{
    height: 50px;
    line-height: 50px;
    text-align: center;
    
}

.heart::after{
    content: "\2665";
    color: red;
}